div {
    box-sizing: border-box;
}
/* :root{
    scroll-behavior: auto;
} */
.question {
    margin: 5px;
    border-radius: 5px;
    padding: 10px;
}
.navbar{
    z-index: 5;
}
.list-group{
    width:100%;
    position:fixed;
    top:-250px;
    transition: all 1s;
}

.show {
    top:50px;
}



.black-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    padding: 30px;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
}

.white-bg {
    background: white;
  border-radius: 5px;
  padding: 30px;
}
.show-modal{
    visibility: visible;
    opacity: 1;
}

.main-bg{
    padding: 100px 20px;
    background: lightgray;
}

.errorinform{
    border:2px solid red;
}
.badge:hover{
    cursor:pointer;
}
.bg-dark{
    background: black;
    color:white;
}
.bg-light{
    background: white;
    color:black;
}

.slide-container{
    width:300vw;
    /* margin-left: -100vw; */
    transition: all 1s;
}
.slide-box{
    width:100vw;
    float:left;
}
.slide-box img{
    width:100%;
}

.navbar{
    position: fixed;
    width:100%;
    z-index: 5;
}
.navbar-brand{
    font-size:30px;
    transition : all 1s;
}